{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
    <h2 class="text-center">Order Cancelled</h2>
    <h4>Your order has been cancelled successfully. Details has been sent to your registered email.</h4>
    <h6>Contact us for any enquiry</h6>
	<br>
	<div class="text-center">
		<a href="{% url 'store' %}" class="btn btn-success">Shop more</a>
	</div>
</div>


{% endblock %}